<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Edit Menu</title>
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
</head>

<body>
  <h2>Edit <%=donut.name.charAt(0).toUpperCase()+donut.name.substring(1)%> Donut </h2>
  <form action='/donuts/<%=donut.id%>?_method=PATCH' method='post'>
    <div>
      <label>Topping: </label>
      <input value='<%=donut.topping%>' name='topping'>
    </div>
    <div>
      <label>Price:</label>
      <input value='<%=donut.price%>.00' name='price'>
    </div>
    <div>
      <input type="submit" name="Submit">
    </div>
  </form>
  <a href='/donuts/<%=donut.id%>'>Back</a>
</body>

</html>
